.info-container {
  height: 160px;
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

.info {
  border-radius: 10px;
}
.left-col {
  margin-right: 10px;
}

.left-col,
.right-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block {
  flex: 1;
  height: 180px;
  background-color: #fff;
}

.sup-block {
  flex: 1;
  height: 90px;
  background-color: #fff;
}

.sup-block + .sup-block {
  margin-top: 10px;
}
